style.
  h1.title {
    font-size: 24px;
  }

  div.description-container {
    border: 2px solid black;
    padding: 10px 12px;
    width: 500px;
    margin: 0 auto;
  }

  p.subtitle {
    font-style: italic;
    font-size: 18px;
  }
