DOCTYPE( html)
html( lang="en")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include _styles
        title Shop

    body
        h1.title Welcome to Academlo Shop

        div.description-container
            block content
            //- p.subtitle Where you can get anything about
            //- p.subtitle Get our best offers
            //- p.subtitle #{message}
