extends base.pug

block emailContent 
    p Hi there #{username},
    p You successfully crated an account with the email "#{email}" on our Academlo Shop App.

    p Enjoy your visit on our page and contact support if you need anything.
    p Good luck! Hope it works.